.sign-in-container{
    
    width: px;

    h2{
        margin-top: 10px 0;
    }

    .btn-container{
        display: grid;

        justify-content:center ;
        
        p{
            display: flex;
            justify-content: center;
            
        }
    }
}
