.sign-in-container{
    
    width: 380px;

    h2{
        margin-top: 10px 0;
    }

    .btn-container{
        padding-top: 20px;
        display: grid;
        justify-content:center ;
        
        p{
            display: flex;
            justify-content: center;
            
        }
    }
}
